*{
    margin: 0;
    padding: 0;
}
.test{
    color: blue;
    cursor: url("https://img.freepik.com/free-vector/hand-drawn-eco-cup-illustration_23-2149505104.jpg?size=626&ext=jpg&ga=GA1.1.741920901.1688621402"),auto;

}
    
